@charset "utf-8";
body {
	margin:0;
	padding:0;
}
td, input, form, select, textarea {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #4d3c1a;
}
.menu0 {
	background:#9b7934 url(../images/menu-arrow.gif) no-repeat center right;
	font-weight:bold;
	color:#FFFFFF;
	line-height:19px;
	padding-left:5px;
	margin-top:2px;
}
.menu0 a:link, .menu0 a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.menu0 a:hover {
	color:#dbfb05;
	text-decoration:none;
}
.submenutd {
	padding:2px 13px 2px 13px;
}
.submenu {
	background-color:#e1cda4;
	border:solid 1px #9b7934;
}
.menu1 {
	padding:2px 2px 2px 5px;
	font-weight:bold;
	color:#4d3c1a;
	text-decoration:none;
}
.menu1 a:link, .menu1 a:visited {
	color:#4d3c1a;
	text-decoration:none;
}
.menu1 a:hover {
	color:#C59E4F;
	text-decoration:none;
}
.menu2 {
	padding:0px 2px 2px 30px;
	color:#4d3c1a;
}
.menu2 a:link, .menu2 a:visited {
	color:#4d3c1a;
	text-decoration:none;
}
.menu2 a:hover {
	color:#f58220;
	text-decoration:none;
}
.menuseparator {
	line-height:1px;
}
.content {
	padding:0 5px 10px 10px;
}
.title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	background:url(../images/h1bg.gif) no-repeat left bottom;
	margin-left:-10px;
	padding-left:10px;
}
.level1 {
	color:#715826;
}
.level2 {
	color:#F60;
}
.page {
	border-bottom: #9b7934 1px solid;
	padding:2px 0 5px 0;
}
.currtab {
	color: #9b7934;
	text-decoration: none
}
.tabheader {
	border-bottom: #9b7934 1px solid;
        font-family:Arial, Helvetica, sans-serif; 
}
.container {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-top: 0px
}
.tab {
        font-family:Arial, Helvetica, sans-serif;
	border:1px solid #9b7934;
	padding:5px 10px;
	font-weight: bold;
	font-size: 11px;
	border-bottom: #ffffff 1px solid;
	background-color: #ffffff;
}

.tabin {
        font-family:Arial, Helvetica, sans-serif;
	border:solid 1px #9b7934;
	padding:2px 10px 2px 10px;
	color: #ffffff;
	background-color: #9b7934
}
.tabcolor {
	padding-left: 5px;
	background-color: #003399
}
.tablink {
	font-size: 11px
}
a.tablink:link {
	font-weight: bold;
	color: #ffffff;
	text-decoration: none
}
a.tablink:visited {
	font-weight: bold;
	color: #ffffff;
	text-decoration: none
}
a.tablink:hover {
	font-weight: bold;
	color: #dbfb05;
	text-decoration: none
}

.tablehdr {
	font-weight: bold;
	color: #ffffff;
	background-color: #9b7934;
	text-align: center;
	padding:5px 5px;
}
.tablecell {
	background-color: #f7f1e6; 
        line-height: 17px
}

.tablecell1 {
	background-color: #efe4cf; 
        line-height: 17px
}

.tablearialhdr {
        font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;
	background-color: #9b7934;
	text-align: center;
	padding:5px 5px;
}
.tablearialcell {
        font-family:Arial, Helvetica, sans-serif;
	background-color: #f7f1e6; 
        line-height: 17px
}

.tablearialcell1 {
        font-family:Arial, Helvetica, sans-serif;
	background-color: #efe4cf; 
        line-height: 17px
}

.fontarial {
        font-family:Arial, Helvetica, sans-serif;	
}

input, select, textarea{
	border:solid 1px #9b7934;
	background-color:#faf7f0;
}
.readonly{
	background-color:#EEE;
	color:#999;
	border:solid 1px #999;
}

.footer a:link, .footer a:visited{
	text-decoration:none;
	color:#4d3c1a;
}
.footer a:hover{
	color:#9b7934;
	text-decoration:underline;
}

a:link, a:visited{
	text-decoration:underline;
	color:#FF6600;
}
a:hover{
	color:#9b7934;
	text-decoration:underline;
}.lvl1 {  color: #715826; font-size: 14px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-indent: 8px}
.lvl2 {  color: #f60; font-size: 14px; font-weight: normal; font-family: Arial, Helvetica, sans-serif}
.tit1 {  font-size: 17px}
.errfont {  color: #FF0000}
.warning {  background-color: #FFFF66}
.success {  color: #000000}
.info {  background-color: #009999; color: #FFFFFF}
